<br>
<div>
  <h1 class="text-center">BlocItOff<small>the only to list you will ever need</small></h1>
  <p class="text-center">Easy to create to do list</p>
  <p class="text-center">Self destructs all tasks not completed after 7 days</p>
  
  
<p class="text-center">
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info btn-lg' %> 
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info btn-lg' %> </p>
      
      
</div>

