@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url('alarm.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  font-size: 72px;
  color: #AAAF8E;
  text-align: center;
}


.small {
  font-size: 42px;
  color: #AAAF8E;
  text-align: center;
}

.user-title{
  font-size: 32px;
  color: #AAAF8E;
  text-align: center;
}

.subtext {
  font-size: 22px;
  color: #AAAF8E;
  text-align: center;
  }

.form-text {
  font-size: 12px;
  color: #AAAF8E;
 }

.edit {
   font-size: 20px;
  color: #AAAF8E;
 }

.user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

 .entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
